.footer {
  height: 419px;
}
  .footer-copyright {
    background-color: #5b0e0e;
    padding: 10px 0;
  }
  .footer-copyright-text {
    text-align: right;
    margin-right: 200px;
    color: #ffffff;
  }
.footer-content{
  background-image: url("https://theme.hstatic.net/1000269374/1000344896/14/ft_bg_img.png?v=227");
  height: 412.6px;
  width: 100%;
  padding: 50px 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ft-nav-text{
  color: white;
  font-weight: bold;
  font-size: 16px;
}
.fttext{
  color: white;
  font-size: 14px;
  line-height: 1.6rem;
  text-decoration: none;
}
.ft-sub-wrapper{
  width: 100%;
}

.btn-pp{
  padding: 0px 30px;
  height: 40px;
  line-height: 40px;
  outline: 0px;
  border: 0px;
  color: #fff;
  background: #5b0e0e;
  font-size: 18px;
}
.col-6{
  margin-bottom: 30px;
}
.article-title {
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
}
.ft-sub-wrapper1{
  display: flex;
}