/* Style the header with a grey background and some padding */
.header {
  >a {
    &:hover{
      color: #dd6334;
    }
    text-decoration: none;
  }
  background-color: #5b0e0e;
  height: 50.8px;
  line-height: 50.8px;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-text {
    color: #ffffff;
    margin-right: 30px;
    font-weight: 550;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;

    .item {
      position: absolute;
      top: 50px;
      right: 0;
      display: none;
      color: white;
      background-color: #5b0e0e;
      white-space: nowrap;
      padding: 0 0.5rem;
      text-decoration: none;
    }

    &:hover {
      .item {
        display: block;
      }
    }

  }

  .fa-shopping-cart {
    color: #ffffff;
    display: inline-block;
  }


}

.d-flex {
  display: flex;

}

.abc {
  top: 23px;
  right: 40px;
  width: 300px;
  background: white ;
  padding: 5px;
}
